<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Android-large-6</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../styles/style1.css">
</head>

<body>

    <div class="container">
        <div class="status-bar">
            <div class="time">
                <div>9:41</div>
            </div>
            <div class="status-bar-container">
                <img src="../styles/images/mobile_signal.png" alt="Mobile Signal" class="mobile-signal-indicator">
                <img src="../styles/images/wifi_signal.png" alt="Wi-Fi Signal" class="wifi-signal-indicator">
                <img src="../styles/images/battery.png"  class="battery-percentage">
            </div>
        </div>
        <div class="bottom-layout" style="margin-bottom: 65px;">What are your goals?</div>
        <div class="layout1">
            <span>Weight Loss</span>
            <div class="square-box"></div>
        </div>
        <div class="layout1">
            <span>Muscle Gain</span>
            <div class="square-box"></div>
        </div>
        <div class="layout1">
            <span>Flexibility and Mobility</span>
            <div class="square-box"></div>
        </div>
        <div class="layout1">
            <span>General Fitness</span>
            <div class="square-box"></div>
        </div>
        <div class="layout1">
            <span>Event- specific training</span>
            <div class="square-box"></div>
        </div>
        <div class="layout1" style="margin-bottom: 95px;">
            <span>Mindfulness and Mental Health</span>
            <div class="square-box"></div>
        </div>
        <div class="layout1" style=" margin: 100px auto;text-align: center;line-height: 24px; background-color:#7B91FF ;">Confirm</div>
        
        </div>
</body>
</html>