<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, width=device-width" />

  <link rel="stylesheet" href="../styles/global.css" />
  <link rel="stylesheet" href="../styles/index1.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap" />
</head>

<body>
  <div class="android-large-2">
    <img class="android-large-2-child" alt="" src="../styles/images/circle.png" />

    <div class="get-burn">Get Burn</div>
    <div class="lets-keep-burning">
      Let’s keep burning to achieve your goals, it hurts only temporarily, if
      you give up now you will be in pain forever
    </div>
    <div class="skip"><a href="Android_large-4.html">Skip</a></div>
    <img class="image-16-icon" alt="" src="../styles/images/image2.png" />

    <div class="status">
      <div class="rectangle"></div>
      <div class="status-bar">
        <div class="battery">
          <div class="border"></div>
          <img class="cap-icon" alt="" src="./public/cap.svg" />

          <div class="capacity" ></div>
        </div>
        <img class="wifi-icon" alt="" src="../styles/images/wifi_signal.svg" />

        <img class="cellular-connection-icon" alt="" src="../styles/images/mobile_signal.png" />
      </div>
      <div class="time">9:41</div>
    </div>
  </div>
</body>

</html>