<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, width=device-width" />

  <link rel="stylesheet" href="../styles/global9.css" />
  <link rel="stylesheet" href="../styles/index9.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" />
</head>

<body>
  <div class="android-large-9">
    <div class="android-large-9-child"></div>
    <div class="android-large-9-item"></div>
    <div class="workout-schedule">Workout Schedule</div>
    <div class="android-large-9-inner"></div>
    <img class="group-icon" alt="" src="../styles/images/search.png" />


    <div class="android-large-9-child1">
      <img src="../styles/images/up.png">
      <img src="../styles/images/sit.png">
      <img src="../styles/images/camera.png">
      <img src="../styles/images/person.png">
    </div>




    <div class="calendar">
      <div class="rectangle-parent">
        <div class="group-child"></div>
        <div class="sun-5">
          <p class="sun">Sun</p>
          <p class="p">5</p>
        </div>
      </div>
      <div class="rectangle-group">
        <div class="group-item"></div>
        <div class="mon-6">
          <p class="sun">Mon</p>
          <p class="p">6</p>
        </div>
      </div>
      <div class="rectangle-container">
        <div class="group-child"></div>
        <div class="sun-5">
          <p class="sun">Tue</p>
          <p class="p">7</p>
        </div>
        <img class="assignment-ind-icon" alt="" />
      </div>
      <div class="group-div">
        <div class="group-child"></div>
        <div class="sun-5">
          <p class="sun">Wed</p>
          <p class="p">8</p>
        </div>
      </div>
      <div class="rectangle-parent1">
        <div class="group-child"></div>
        <div class="sun-5">
          <p class="sun">Thu</p>
          <p class="p">9</p>
        </div>
      </div>
    </div>
    <img class="vector-icon" alt="" src="./public/vector.svg" />

    <img class="vector-icon1" alt="" src="./public/vector.svg" />

    <div class="feb-2024">Feb 2024</div>
    <div class="line-div"></div>
    <div class="android-large-9-child2"></div>
    <div class="android-large-9-child3"></div>
    <div class="android-large-9-child4"></div>
    <div class="android-large-9-child5"></div>
    <div class="android-large-9-child6"></div>
    <div class="android-large-9-child7"></div>
    <div class="android-large-9-child8"></div>
    <div class="android-large-9-child9"></div>
    <div class="android-large-9-child10"></div>
    <div class="android-large-9-child11"></div>
    <div class="am">06:00 AM</div>
    <div class="am1">07:00 AM</div>
    <div class="am2">08:00 AM</div>
    <div class="am3">09:00 AM</div>
    <div class="am4">10:00 AM</div>
    <div class="am5">11:00 AM</div>
    <div class="am6">12:00 AM</div>
    <div class="am7">01:00 AM</div>
    <div class="am8">02:00 AM</div>
    <div class="am9">03:00 AM</div>
    <div class="am10">04:00 AM</div>
    <div class="am11">05:00 AM</div>
    <div class="android-large-9-child12"></div>
    <div class="ab-workout-730am">Ab Workout, 7:30am</div>
    <div class="upperbody-workout-9am">Upperbody Workout, 9am</div>
    <div class="android-large-9-child13"></div>
    <div class="android-large-9-child14"></div>
    <div class="ellipse-div"></div>
    <div class="android-large-9-child15"></div>
    <div class="lowerbody-workout-3pm">Lowerbody Workout, 3pm</div>
    <img class="android-large-9-child16" alt="" src="../styles/images/plus1.png" />

    <div class="div">+</div>
    <img class="chevron-left-icon" alt="" src="c" />
    <img class="chevron-left-icon" alt="" src="../styles/images/vector-right.png" />

    <div class="status">
      <div class="rectangle"></div>
      <div class="status-bar">
        <div class="battery">
          <div class="border"></div>
          <img class="cap-icon" alt="" src="./public/cap.svg" />

          <div class="capacity"></div>
        </div>
        <img class="wifi-icon" alt="" src="../styles/images/wifi_signal.svg" />

        <img class="cellular-connection-icon" alt="" src="../styles/images/mobile_signal.png" />
      </div>
      <div class="time">9:41</div>
    </div>
  </div>
</body>

</html>