<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, width=device-width" />
  <link rel="stylesheet" href="../styles/index.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap" />
</head>

<body>
  <div class="android-large-1">
    <a href="Android_large-2.html"><img class="android-large-1-child" alt="" src="../styles/images/circle.png" /></a>
    <div class="track-your-goal">Track Your Goal</div>
    <div class="dont-worry-if">
      Don’t worry if you have trouble determining your goals, We can help you
      determine your goals and track your goals
    </div>
    <div class="skip"><a href="Android_large-4.html">Skip</a></div>
    <img class="image-13-icon" alt="" src="../styles/images/image.png" />
    <div class="android-large-1-item"></div>
    <img class="android-large-1-inner" alt="" src="./public/group-5.svg" />
    <div class="status">
      <div class="rectangle"></div>
      <div class="status-bar">
        <div class="battery">
          <div class="border"></div>
          <img class="cap-icon" alt="" src="../public/cap.svg" />
          <div class="capacity" ></div>
        </div>
        <img class="wifi-icon" alt="" src="../styles/images/wifi_signal.svg" />
        <img class="cellular-connection-icon" alt="" src="../styles/images/mobile_signal.png" />
      </div>
      <div class="time">9:41</div>
    </div>
  </div>
</body>

</html>