<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Android_large-4</title>
    <link rel="stylesheet" href="../styles/style1.css">
</head>

<body>
    <div class="container">
        <div class="status-bar">
            <div class="time">
                <div>9:41</div>
            </div>
            <div class="status-bar-container">
                <img src="../styles/images/mobile_signal.png" alt="Mobile Signal" class="mobile-signal-indicator">
                <img src="../styles/images/wifi_signal.png" alt="Wi-Fi Signal" class="wifi-signal-indicator">
                <img src="../styles/images/battery.png" class="battery-percentage">
            </div>
    </div>
    <div class="bottom-layout">Create an account</div>
    <div class="layout1">
        <span>First Name</span>
        
    </div>
    <div class="layout1">
        <span>Last Name</span>
       
    </div>
    <div class="layout1">
        <span>Email</span>
       
    </div>
    <div class="layout1">
        <span>Password</span>
        
    </div >
      <div class="square-box1"></div>
        <span class="margin-top: 30px;margin-bottom: 50px;">By proceeding, I agree to all T&C and  Privacy Policy</span>
        <div class="layout1" style=" margin: 100px auto;text-align: center;line-height: 24px; background-color:#7B91FF ;"><a href="Android-large-6.html">Create an Account</a></div>
        <div class="divider-wrapper">
            ::before
            <span class="divider">or</span>
            ::after
        </div>
        <div style="position: absolute; bottom: 145px; left: 0; right: 0; margin: auto; text-align: center;">
            <div><img src="../styles/images/google.png" alt="Centered Image" width="70px" height="70px"></div> 
         </div>
        <div>Already have an account?<span style="text-decoration: underline;">Login</span> </div>
    

</body>

</html>