body {
    margin: 0;
    line-height: normal;
  }

 /* :root {
    
    --font-montserrat: Montserrat;
  
    
    --font-size-base: 16px;
  
   
    --black: #2c2b2b;
    --color-gray-100: #252727;
  } */
  